@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-halfre: var(--font-halfre);
  --color-primary: #0DE65A;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-halfre);
}
