@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-halfre: var(--font-halfre);
  --color-primary: #0de65a;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar, html::-webkit-scrollbar {
    display: none;
    width: 0px; /* Optional: just make scrollbar space zero */
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-halfre);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
